.funny-svg {
    margin: 0;
    padding: 0;
}

.funny-svg text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-anchor: middle;
    dominant-baseline: middle;
    fill: lightgray;
}


.funny-svg text.black {
    fill: black;
}

.funny-svg rect.back {
    fill: white;
    stroke: lightgray;
    stroke-width: 2px;
}

.funny-svg rect.back.black {
    stroke: black;
}

.funny-svg path {
    stroke: lightgray;
    stroke-width: 1px;
	fill: none;
}

.funny-svg path.black {
    stroke: black;
    stroke-width: 2px;
}

.funny-svg rect.highlight {
    fill: #c0e0ff;
}

.funny-svg tspan.highlight {
    fill: red;
    stroke: black;
    stroke-width: 0.5;
}

@media print {
    @page {
        size: landscape;
    }
}